<header class="shadow-sm py-2">
    <div class="container mx-auto grid grid-cols-2 gap-5 justify-between py-4">
        <a href="#"> Logo</a>

        <nav class="justify-end flex">
            <ul class="flex gap-5 align-center">
                <li class="text-white/50">
                    <a  routerLink="" routerLinkActive="text-white" [routerLinkActiveOptions]="{ exact: true}">Home</a>
                </li>
                <li class="text-white/50">
                    <a routerLink="profile" routerLinkActive="text-white" href="#">Profile</a>
                </li>
                <li class="text-white/50">
                    <a href="#">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
